# Python
__pycache__/
*.pyc

# Virtual envs
.venv/
venv/
env/

# Conda
*.conda

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/
.vscode/
.cache/

# Platform and runtime artifacts
.DS_Store
.pytest_cache/
*.log
catboost_info/

# Downloaded model files
cache/
